<div class="middle1">
        <h2 class="h2">服务商</h2>
        <div class="service-center1">
            <div class="centerleft">
                <div class="tabdiv">
                    <ul class="ulactivety">

                        <li ng-repeat="seller in sellers" id={{$index}}" ui-sref="fuwushang({id1:seller.id})">
                            <!--ui-sref="fuwushang({{id1:item.id}})-->
                            <img ng-src={{seller.img}} width="210" height="210">
                            <p style="margin-top: 15px">
                                <img style="margin-bottom: 5px" src="./img/home1.png" width="18" height="17">
                                <b>{{seller.name}}---{{seller.id}}</b>
                            </p>
                            <p class="pp">已接单{{seller.sales}}单<i>好评{{seller.goodRate}}%</i></p>
                        </li>

                    </ul>
                </div>
                <div id="getServiceList" serviceitemlength="20" class="fenye" style="display: block;">
                    <span ng-click="moreSales()">查看更多商家<img style="margin-left: 5px" src="./img/fuwu_down2.jpg" width="12" height="7"></span>
            </div>
            </div>
            <div id="jiameng" class="centerright">
                <img style="cursor: pointer" src="./img/tuijianfuwushang_03.jpg" width="230" height="auto">
                <div class="erweima"><img src="./img/daowayApp.png" width="130" height="auto"></div>
            </div>
        </div>
    </div>
